<br><br><br>
<pre>
    SC: Panda Team SRL / SC
    Sediu: FSEGA Corporation building nr1
    CF: Some CF Here
    Inmatriculata sub nr: 25/06/2017
</pre>
<center><h3>ADEVERINTA</h3></center>
<br>
<pre>
    Adeverim prin prezenta ca dl/dna {{ user.firstname }} {{ user.lastName }} domiciliat in {{ user.address }},
    este incadrat in unitatea noastra pe durata nedeterminata de la data de {{ user.workStartDate|date("m/d/Y") }} in functie de {{ user.jobVacancy.name }} cu o retributie tarifara de {{ user.jobVacancy.rate*140 }} $/luna.
    Adeverinta a fost eliberata pentru a se servi oriunde.
</pre>
<br><br>
<pre style="margin-right: 20px; text-align:right">
    {{ "now"|date("m/d/Y") }}, ADMINISTRATOR
</pre>