{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Employees</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Work start date</th>
                    <th>Work end date</th>
                    <th>Hours worked</th>
                    <th>Job Vacancy</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user1 in users %}
                    <tr>
                        <td>{{ user1.id }}</td>
                        <td>{{ user1.firstname }}</td>
                        <td>{{ user1.lastname }}</td>
                        <td>{{ user1.address }}</td>
                        <td>{{ user1.phone }}</td>
                        <td>{% if user1.workStartDate %}{{ user1.workStartDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if user1.workEndDate %}{{ user1.workEndDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ user1.hoursWorked }}</td>
                        <td><a href="{{ path('jobvacancy_index') }}">{{ user1.jobVacancy.name }}</a></td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('employee_show', { 'id': user1.id }) }}">show</a>
                                </li>
                                {% if "ROLE_HR" in user.roles and user1.workEndDate == null %}
                                    <li>
                                        <a href="{{ path('employee_fire', { 'id': user1.id }) }}">fire</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
