{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Employees</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>First_name</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Last_name</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
