{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Associates</li><li>List</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    {% if 'ROLE_HR' in user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for associate in associates %}
                    <tr>
                        <td>{{ associate.id }}</td>
                        <td>{{ associate.firstname }}</td>
                        <td>{{ associate.lastname }}</td>
                        <td>{{ associate.phone }}</td>
                        <td>{{ associate.address }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('associate_show', { 'id': associate.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('associate_edit', { 'id': associate.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}

                {% if 'ROLE_HR' in user.roles %}
                    <tr>
                        <td colspan="6">
                            <a class="btn btn-lg btn-primary" href="{{ path('associate_new') }}">Create a new associate</a>
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
