{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demandtypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandType in demandTypes %}
            <tr>
                <td><a href="{{ path('demandtype_show', { 'id': demandType.id }) }}">{{ demandType.id }}</a></td>
                <td>{{ demandType.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('demandtype_show', { 'id': demandType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('demandtype_edit', { 'id': demandType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandtype_new') }}">Create a new demandType</a>
        </li>
    </ul>
{% endblock %}
