{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alert</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alert.id }}</td>
            </tr>
            <tr>
                <th>Start_time</th>
                <td>{% if alert.starttime %}{{ alert.starttime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End_time</th>
                <td>{% if alert.endtime %}{{ alert.endtime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ alert.message }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('alert_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('alert_edit', { 'id': alert.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
