{% extends 'base.html.twig' %}

{% block body %}
    <h1>Applicants list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for applicant in applicants %}
            <tr>
                <td><a href="{{ path('applicant_show', { 'id': applicant.id }) }}">{{ applicant.id }}</a></td>
                <td>{{ applicant.firstname }}</td>
                <td>{{ applicant.lastname }}</td>
                <td>{{ applicant.phone }}</td>
                <td>{{ applicant.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('applicant_show', { 'id': applicant.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('applicant_edit', { 'id': applicant.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('applicant_new') }}">Create a new applicant</a>
        </li>
    </ul>
{% endblock %}
