{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Dashboard</li>
            </ol>
        </div>

        <div id="content">

            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                    <ul id="sparks" class="">
                        <li class="sparks-info">
                            <h5>
                                Employees
                                <span class="txt-color-greenDark"><i class="fa fa-users"></i>
                                    &nbsp;{{ activeUsers|length }}/{{ vacancyCount }}
                                </span>
                            </h5>
                        </li>
                        <li class="sparks-info">
                            <h5>
                                Hours worked
                                <span class="txt-color-purple">
                                    <i class="fa fa-arrow-circle-up"></i>
                                    &nbsp;{{ totalHoursWorked }}/{{ activeUsers|length*160 }}
                                </span>
                            </h5>
                        </li>
                        {% if 'ROLE_HR' in user.roles %}
                            <li class="sparks-info">
                                <h5>
                                    Budget left
                                    <span class="txt-color-blue">${{ moneySpent }} / ${{ totalBudget }}</span>
                                </h5>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>


            <h1>Welcome</h1>
            <div class="row">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>Work hours status</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>

                            <div class="widget-body no-padding">
                                <div id="site-stats" class="chart has-legend"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}

    <script>
        var $chrt_border_color = "#ffffff";
        var $chrt_grid_color = "#DDD"
        var $chrt_main = "#E24913";
        var $chrt_second = "#6595b4";
        /* blue      */
        var $chrt_third = "#FF9F01";
        /* orange    */
        var $chrt_fourth = "#7e9d3a";
        /* green     */
        var $chrt_fifth = "#BD362F";
        /* dark red  */
        var $chrt_mono = "#000";

        var statsData;
        $(document).ready(function() {
            pageSetUp();
            if ($("#site-stats").length) {

                statsData = JSON.parse('{{ workLogStats|raw }}');

                var hoursWorked = [];
                for (var i=0; i< statsData.length; i++) {
                    var item = statsData[i];
                    hoursWorked.push([ new Date(item[0][0], item[0][1], item[0][2]), item[1] ]);
                }

                var plot = $.plot($("#site-stats"), [{
                    data : hoursWorked,
                    label : "Hours worked"
                }], {
                    series:
                        {
                            lines : {
                                show : true,
                                lineWidth : 1,
                                fill : true,
                                fillColor : {
                                    colors : [{
                                        opacity : 0.1
                                    }, {
                                        opacity : 0.15
                                    }]
                                }
                            },
                            points : {
                                show : true
                            },
                            shadowSize : 0

                        },
                    xaxis:
                        {
                            mode: "time",
                            tickSize: [1, "day"]
                        },
                    yaxis:
                        {
                            min: 0
                        },
                    grid:
                        {
                            hoverable : true,
                            clickable : true,
                            tickColor : $chrt_border_color,
                            borderWidth : 0,
                            borderColor : $chrt_border_color

                        },
                    colors : [$chrt_main, $chrt_second],
                    tooltip: true,
                    tooltipOpts : {
                        content : "%s for <b> %x </b> was <b> %y </b>",
                        xDateFormat : "%y-%0m-%0d",
                        defaultTheme : false
                    }
                });

            }
        });
    </script>

{% endblock javascripts %}