{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobvacancies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jobVacancy in jobVacancies %}
            <tr>
                <td><a href="{{ path('jobvacancy_show', { 'id': jobVacancy.id }) }}">{{ jobVacancy.id }}</a></td>
                <td>{{ jobVacancy.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jobvacancy_show', { 'id': jobVacancy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jobvacancy_edit', { 'id': jobVacancy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jobvacancy_new') }}">Create a new jobVacancy</a>
        </li>
    </ul>
{% endblock %}
