{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Demands</li><li>List</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th>Type</th>
                    <th>Approved</th>
                    {% if 'ROLE_HR' in user.roles %}
                        <th>Username</th>
                    {% endif %}
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for demand in demands %}
                    <tr>
                        <td>{{ demand.id }}</td>
                        <td>{{ demand.message }}</td>
                        <td>{{ demand.demandType.name }}</td>
                        <td>{% if demand.approved %}Yes{% else %}Waiting{% endif %}</td>
                        {% if 'ROLE_HR' in user.roles %}
                            <td><a href="{{ path('employee_show', { 'id': demand.user.id }) }}">{{ demand.user.username }}</a></td>
                        {% endif %}
                        {% if 'ROLE_EMPLOYEE' in user.roles %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('demand_edit', { 'id': demand.id }) }}">edit</a>
                                    </li>
                                    {% if demand.approved == true and demand.demandType.pdf %}
                                    <li>
                                        <a href="{{ path('pdf_download', { 'id': demand.demandType.pdf.id }) }}">Get pdf</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </td>
                        {% else %}
                            <td>
                            {% if demand.approved == false %}
                                    <ul>
                                        <li>
                                            <a href="{{ path('demand_approve', { 'id': demand.id }) }}">approve</a>
                                        </li>
                                    </ul>
                            {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% if 'ROLE_EMPLOYEE' in user.roles %}
                    <tr>
                        <td colspan="6">
                            <a class="btn btn-lg btn-primary" href="{{ path('demand_new') }}">Create a new demand</a>
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
