{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Home</li><li>Applicant</li><li>New</li>
            </ol>
        </div>

        <div id="content">

            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                    <h2>New applicant</h2>
                </header>

                <div role="content">

                    <form action="{{ path('applicant_new') }}" method="post">

                        Address:
                        <br>
                        {{ form_widget(form.address) }}
                        <br>
                        <br>

                        Phone:
                        <br>
                        {{ form_widget(form.phone) }}
                        <br>
                        <br>

                        First Name:
                        <br>
                        {{ form_widget(form.first_name) }}
                        <br>
                        <br>

                        Last Name:
                        <br>
                        {{ form_widget(form.last_name) }}
                        <br>
                        <br>

                        Job Vacancy:
                        <br>
                        {{ form_widget(form.jobVacancy) }}
                        <br>

                        {{ form_widget(form._token) }}

                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Create" />
                        <br>
                        <br>
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
